<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style_dashboard.css')}}">
    {{bootstrap.load_css()}}
</head>
<body>
    <div class="container-xl my-3">
        <h1>Welcome to Car Dealz, {{session['first_name']}} !!!</h1>
        <hr>
        <div class="d-flex justify-content-between">
            <h5>All Posted Recipes:</h5>
            <div>
                <a href="/create" class="mx-3">+ Create</a>
                <a href="/logout">Logout</a>     
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Under</th>
                    <th>Posted By</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for recipe in recipes_list %}
                        <tr>
                            <td>{{recipe.name}}</td>
                            {% if recipe.under == 1 %}
                                <td>
                                    Yes
                                </td>
                            {% else %}
                                <td>
                                    No
                                </td>
                            
                            {% endif %}
                            <td>{{recipe.creator['first_name']}}</td>
                            <td>
                                <a href="/recipes/{{recipe.id}}">view recipe</a>
                            {% if recipe.user_id == session['user_id'] %}
                                |
                                <a href="/edit/{{recipe.id}}">edit</a> 
                                |
                                <a href="/delete/{{recipe.id}}">delete</a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>